& {
  width: 100%;
  height: 20px;
  overflow: hidden;

  --value: 0;

  &::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: var(--color-primary);

    transform: translateX(calc((1 - var(--value)) * -100%));

    transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
    animation:  slide-in-statistic-bar 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  }
}

@keyframes slide-in-statistic-bar {
  0% { transform: translateX(-100%); }
}