<div class="nav-side-wrapper">
  {{sy-sidenav on-logout=(route-action 'invalidateSession')}}

  <main class="page-main">
    {{#if loading}}<span class="loader"></span>{{/if}}
    <div class="page-wrapper">
      <div class="page-content page-content--scroll">
        {{outlet}}
      </div>
    </div>
  </main>
</div>

{{welcome-modal
  visible  = visible
  on-never = (route-action 'neverTour')
  on-later = (route-action 'laterTour')
  on-start = (route-action 'startTour')
}}