.activities {
  display: flex;
  flex-direction: row-reverse;
}

.activities-list {
  flex: 1 1 auto;
  overflow: hidden;
}

.activities-edit {
  flex: 0 1 100%;
}

.activities-edit:empty {
  flex-basis: 0%;
}

.activities-edit:not(:empty) + .activities-list {
  flex-basis: 0%;
}

.table--activity-edit > tbody > tr > td {
  vertical-align: middle;
  text-align: center;

  &:nth-child(1) {
    width: 80px;
  }
  &:nth-child(2) {
    width: 25px;
  }
  &:nth-child(3) {
    width: 80px;
  }
}

.transferred {
  cursor: not-allowed;
  color: #a29b96;
}

.checkboxes {
  display: flex;
  justify-content: space-around;
}

@media #{$lg-viewport} {
  .activities-edit:not(:empty) + .activities-list {
    flex-basis: 70%;
  }

  .activities-edit {
    padding-left: 1rem;
    flex: 0 1 45%;
  }

  .activities-edit:empty {
    padding-left: 0;
  }
}

@media #{$xl-viewport} {
  .activities-edit {
    flex-basis: 30%;
  }
}
