@import 'variables.css';
@import 'power-select.css';
@import 'toolbar.css';
@import 'pod-styles';

html {
  height: 100vh;
}

body {
  min-height: 100%;
}

.page-wrapper {
  flex-grow: 1;
  height: 100vh;
  overflow: hidden;
}

.pointer {
  cursor: pointer;
}

.table > tfoot > tr > td > .pagination {
  margin-left: -10px;
}

.pagination > li {
  margin-right: 5px;
}

.pagination > li > a {
  border: none !important;
  border-radius: 4px;
  padding: 0.3rem 0.8rem;
}

.table > tbody > tr.highlight {
  animation: colorblink 5s infinite;
}

@keyframes colorblink {
  0% {
    background-color: color(var(--color-primary) a(70%));
  }
  50% {
    background-color: color(var(--color-primary) a(50%));
  }
  100% {
    background-color: color(var(--color-primary) a(70%));
  }
}
