@import 'variables';
@import 'power-select';
@import 'toolbar';
@import 'badge';
@import 'sy-timepicker';
@import 'ember-power-calendar';
@import 'pod-styles';

:root {
  --tracking-indicator-size: 10px;
}

html {
  height: 100vh;
}

body {
  min-height: 100%;
}

.page-wrapper {
  flex-grow: 1;
  height: 100vh;
  overflow: hidden;
}

.pointer {
  cursor: pointer;
}

.table > tfoot > tr > td > .pagination {
  margin-left: -10px;
}

.pagination > li {
  margin-right: 5px;
}

.pagination > li > a {
  border: none !important;
  border-radius: 4px;
  padding: 0.3rem 0.8rem;
}

.btn-noclick {
  pointer-events: none;
}

.btn-toolbar--right {
  justify-content: flex-end;
}

.page-main {
  position: relative;
}

.nav-tabs {
  width: 100%;
  overflow-x: auto;

  > li > a {
    white-space: nowrap;
  }
}

.form-control[type=text].picker:read-only {
  cursor: text;
  text-align: right;
  background-color: rgb(255,255,255);
}

.card-block .table {
  margin: 0;
}

.worktime-balance {
  border-bottom: 3px double rgb(0,0,0);
  font-weight: bold;
}

.worktime-balance.color-danger {
  border-bottom-color: var(--color-danger);
}

.worktime-balance.color-success {
  border-bottom-color: var(--color-success);

  &::before {
    display: inline-block;
    margin-right: -0.2em;
    content: '+';
  }
}

.table tr.has-absence-type {
  background-color: var(--color-danger) !important;
  border-bottom-color: color(var(--color-danger) tint(10%)) !important;
}

.error-text {
  font-size: 80%;
  margin: 0;
  color: var(--color-danger);
}

@media (--sm-viewport) {
  .nav-tabs {
    overflow: visible;
  }
}
