/* AdCSSy variables */
@import 'variables';

/* Custom styles */
@import 'activities';
@import 'attendances';
@import 'badge';
@import 'form-list';
@import 'loader';
@import 'progress-tooltip';
@import 'reports';
@import 'statistics';
@import 'toolbar';
@import 'tour';
@import 'users-navigation';
@import 'users';

/* Plugin customizations */
@import 'ember-power-calendar';
@import 'ember-basic-dropdown';
@import 'ember-power-select-custom';

/* Component styles */
@import 'pod-styles';

html {
  height: 100vh;
}

body {
  min-height: 100%;
}

.nav-side-wrapper {
  display: flex;
  width: 100vw;
}

.page-wrapper {
  flex-grow: 1;
  height: 100vh;
  overflow: hidden;
}

.pointer {
  cursor: pointer;
}

.table > tfoot > tr > td > .pagination {
  margin-left: -10px;
}

.pagination > li {
  margin-right: 5px;
}

.pagination > li > a {
  border: none !important;
  border-radius: 4px;
  padding: 0.3rem 0.8rem;
}

.btn-noclick {
  pointer-events: none;
}

.btn-toolbar--right {
  justify-content: flex-end;
}

.page-main {
  position: relative;
}

.nav-tabs {
  position: relative;

  > li > a {
    white-space: nowrap;
  }
}

.card-block .table {
  margin: 0;
}

.worktime-balance {
  border-bottom: 3px double rgb(0,0,0);
  font-weight: bold;
}

.worktime-balance.color-danger {
  border-bottom-color: var(--color-danger);
}

.worktime-balance.color-success {
  border-bottom-color: var(--color-success);

  &::before {
    display: inline-block;
    margin-right: -0.2em;
    content: '+';
  }
}

.error-text {
  font-size: 80%;
  margin: 0;
  color: var(--color-danger);
}

.form-group.has-error {
  label {
    color: var(--color-danger);
  }

  .form-control {
    border-color: color(var(--color-danger) tint(20%));

    &:focus {
      border-color: color(var(--color-danger) tint(20%));
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
                  0 0   8px color(var(--color-danger) a(60%));
    }
  }
}

.btn-group--auto .btn {
  flex-grow: 1;
}

.no-margin  { margin: 0 !important  }
.no-padding { padding: 0 !important }

.nav-tab--buttons {
  position: absolute;
  right: 0;
  bottom: 0;

  .btn {
    margin-left: 0.5rem;
    z-index: 0;
    border-bottom-width: 1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.calendar {
  @include ember-power-calendar($cell-size: 50px);

  .ember-power-calendar-day:not(:disabled) {
    cursor: pointer;
    transition: background-color 300ms ease;
  }

  .ember-power-calendar-day--selected {
    background-color: var(--color-primary);
    color: rgb(255, 255, 255);

    &:not(:disabled):hover {
      background-color: color(var(--color-primary) tint(25%));
      color: rgb(255, 255, 255);
    }
  }

  .ember-power-calendar-day--focused {
    box-shadow: inset 0px -2px 0px 0px var(--color-primary);
  }
}

@media (--sm-viewport) {
  .login-form .btn {
    width: 125px;
  }

  .table--activities tr td:last-child {
    display: flex;
  }

  .table--activities tr {
    height: 80px;
    display: flex;

    td {
      display: flex;
      align-items: center;

      &:nth-child(1) { flex-basis: 40% }
      &:nth-child(2) { flex-basis: 40% }
      &:nth-child(3) { flex-basis: 10% }

      &:nth-child(4) {
        flex-basis: 10%;
        justify-content: flex-end;

        .btn {
          margin-left: 10px;
        }
      }
    }
  }
}

.total {
  border-bottom: 3px double var(--body-color);
}

.table--absence-types > thead > tr > th,
.table--absence-types > tbody > tr > td {
  .grid {
    margin: 0;
  }

  .credit-row {
    font-size: 70%;

    &:nth-child(1) {
      padding-top: 0.5rem;
    }

    .grid-cell:first-child {
      padding-left: 1rem;
    }
  }
}

.empty {
  color: color(var(--color-border) shade(25%));
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  .fa {
    margin-bottom: 1rem;
    font-size: 10rem;
    color: var(--color-border);
  }

  .loading-spinner {
    --color: color(var(--color-border) shade(25%));
  }

  h3 {
    color: inherit;
  }
}