/* AdCSSy variables */
@import "variables";

/* Plugin customizations */
@import "ember-power-calendar";
@import "ember-basic-dropdown";
@import "ember-power-select-custom";

/* Component styles */
@import "pod-styles";

/* Custom styles */
@import "activities";
@import "analysis";
@import "attendances";
@import "badge";
@import "filter-sidebar";
@import "form-list";
@import "loader";
@import "progress-tooltip";
@import "projects";
@import "reports";
@import "statistics";
@import "toolbar";
@import "tour";
@import "users-navigation";
@import "users";

/* Component styles */
@import "components/date-navigation";

html {
  hyphens: auto;
}

strong {
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}

.table > tfoot > tr > td > .pagination {
  margin-left: -10px;
}

.pagination > li {
  margin-right: 5px;
}

.pagination > li > a {
  border: none !important;
  border-radius: 4px;
  padding: 0.3rem 0.8rem;
}

.btn-noclick {
  pointer-events: none;
}

.btn-toolbar--right {
  justify-content: flex-end;
}

.page-main {
  position: relative;
}

.nav-tabs {
  position: relative;

  > li > a {
    white-space: nowrap;
  }
}

.card-block .table {
  margin: 0;
}

.worktime-balance {
  border-bottom: 3px double rgb(0, 0, 0);
  font-weight: bold;
}

.worktime-balance.color-danger {
  border-bottom-color: $color-danger;
}

.worktime-balance.color-success {
  border-bottom-color: $color-success;

  &::before {
    display: inline-block;
    margin-right: -0.2em;
    content: "+";
  }
}

.error-text,
.invalid-feedback {
  font-size: 80%;
  margin: 0;
  color: $color-danger;
}

.form-group.has-error {
  label {
    color: $color-danger;
  }

  .form-control {
    border-color: lighten($color-danger, 20%);

    &:focus {
      border-color: lighten($color-danger, 20%);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
        0 0 8px opacify($color-danger, 0.6);
    }
  }
}

.comment-field {
  padding-right: 35px;
}

.btn-group--auto .btn {
  flex-grow: 1;
}

.no-margin {
  margin: 0 !important;
}
.no-padding {
  padding: 0 !important;
}

.nav-tab--buttons {
  position: absolute;
  right: 0;
  bottom: 0;

  .btn {
    margin-left: 0.5rem;
    z-index: 0;
    border-bottom-width: 1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.calendar {
  @include ember-power-calendar($cell-size: 50px);

  .ember-power-calendar-day:not(:disabled) {
    cursor: pointer;
    transition: background-color 300ms ease;
  }

  .ember-power-calendar-day--selected {
    background-color: $color-primary;
    color: rgb(255, 255, 255);

    &:not(:disabled):hover {
      background-color: lighten($color-primary, 25%);
      color: rgb(255, 255, 255);
    }
  }

  .ember-power-calendar-day--focused {
    box-shadow: inset 0px -2px 0px 0px $color-primary;
  }
}

@media #{$sm-viewport} {
  .login-form .btn {
    width: 125px;
  }

  .table--activities tr td:last-child {
    display: flex;
  }

  .table--activities tr {
    height: 45px;
    display: flex;
    min-width: 0;

    td {
      display: flex;
      align-items: center;

      &:nth-child(1) {
        flex-basis: 10%;
      }
      &:nth-child(2) {
        flex-basis: 25%;
        // inline-grid property because it doesnt work the right way
        display: inline-grid;

        div {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      &:nth-child(3) {
        flex-basis: 35%;
        display: inline-grid;

        div {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      &:nth-child(4) {
        flex-basis: 20%;
        justify-content: space-around;

        div.i {
          margin-right: 5px;
        }
      }
      &:nth-child(5) {
        flex-basis: 5%;
      }
      &:nth-child(6) {
        flex-basis: 5%;
        justify-content: flex-end;

        .btn {
          margin-left: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .table--activities tr td {
    display: flex;

    &:nth-child(4) {
      div {
        margin-right: 10px;
      }

      div > i {
        margin-right: 5px;
      }
    }
  }
}

.total {
  border-bottom: 3px double $body-color;
}

.table--absence-types > thead > tr > th,
.table--absence-types > tbody > tr > td {
  .grid {
    margin: 0;
  }

  .credit-row {
    font-size: 70%;

    &:nth-child(1) {
      padding-top: 0.5rem;
    }

    .grid-cell:first-child {
      padding-left: 1rem;
    }
  }
}

.empty {
  color: darken($color-border, 25%);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  .fa {
    margin-bottom: 1rem;
    font-size: 10rem;
    color: $color-border;
  }

  .loading-spinner {
    --color: darken($color-border, 25%);
  }

  h3 {
    color: inherit;
  }
}

.activity-customer-visible-icon {
  position: relative;
  float: right;
  z-index: 1;
}

.customer-visible-icon {
  position: relative;
  float: right;
  margin-top: -1.7rem;
  margin-right: 0.8rem;
  z-index: 1;
}

@media (max-width: 680px) {
  .activity-customer-visible-icon {
    margin-top: 0rem;
    margin-right: 10px;
  }

  .customer-visible-icon {
    margin-top: -2.5rem;
  }
}

.customer-visible-icon {
  margin-top: -1.7rem;
}

@media #{$sm-viewport} {
  .activity-customer-visible-icon {
    margin-top: -2rem;
    margin-left: 85%;
  }
}

@media #{$md-viewport} {
  .activity-customer-visible-icon {
    margin-top: -30px;
    margin-left: 95%;
  }

  .customer-visible-icon {
    margin-top: -1.7rem;
  }
}
