@import 'ember-power-select';

.ember-power-select-dropdown {
  min-width: 250px;
}

.ember-power-select-options[role='listbox'] {
  max-height: 425px;
}

.ember-power-select-option:not(
  .ember-power-select-option--no-matches-message,
  .ember-power-select-option--loading-message
) {
  padding: 0;
  line-height: 1;

  div {
    padding: 0 8px;
    line-height: 1.6;

    &.inactive {
      background-color: rgb(230, 230, 230);
    }

    .history {
      display: inline-flex;
      align-items: center;

      .fa {
        padding-right: 0.5rem;
      }

      .history-text {
        display: inline-flex;
        flex-direction: column;

        small {
          font-size: 0.6rem;
          margin: 0.2rem 0 -0.2rem 0;
        }
      }
    }
  }

  &[aria-current=true] .inactive,
  &[aria-selected=true] .inactive {
    background-color: transparent;
  }

  &[aria-selected=true] {
    background-color: var(--color-primary);
    color: rgb(255, 255, 255);
  }

  &[aria-current=true] {
    background-color: color(var(--color-primary) a(60%));
  }
}

.ember-power-select-placeholder,
.ember-power-select-selected-item,
.ember-power-select-option {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.ember-power-select-placeholder,
.ember-power-select-selected-item {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.ember-power-select-trigger {
  display: block;
  overflow: hidden;
  width: 100%;
  min-height: 3rem;
  padding: 0.3rem 0.5rem;
  font-size: 1.2rem;
  line-height: 1.5;
  color: rgb(85, 85, 85);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(204, 204, 204);
  border-radius: var(--input-border-radius);
  box-shadow: var(--input-box-shadow);
  transition: border-color 0.15s, box-shadow 0.15s;
  padding-right: 2rem;

  &:focus {
    border-color: color(var(--color-primary) tint(20%));
    outline: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
                0 0   8px color(var(--color-primary) a(60%));
  }

  &[aria-disabled=true] {
    .ember-power-select-status-icon {
      background-color: rgb(238, 238, 238);
    }
  }

  .ember-power-select-clear-btn {
    background-color: rgb(255,255,255);
    padding: 0 2px;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
  }

  .ember-power-select-status-icon {
    background-color: rgb(255,255,255);
    transform: none !important;
    width: 2rem;
    border: none;
    height: calc(100% - 2px);
    border-top-right-radius: var(--input-border-radius);
    border-bottom-right-radius: var(--input-border-radius);
    right: 0;
    top: 1px;
    background-image: url('data:image/svg+xml,<svg height="512" version="1.1" viewBox="0 0 512 512" width="512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><path d="M98.9 184.7l1.8 2.1 136 156.5c4.6 5.3 11.5 8.6 19.2 8.6 7.7 0 14.6-3.4 19.2-8.6L411 187.1l2.3-2.6c1.7-2.5 2.7-5.5 2.7-8.7 0-8.7-7.4-15.8-16.6-15.8v0H112.6v0c-9.2 0-16.6 7.1-16.6 15.8C96 179.1 97.1 182.2 98.9 184.7z"/></svg>');
    background-position: right 0.5rem center;
    background-size: 22px;
    background-repeat: no-repeat;
  }
}

@media (--sm-viewport) {
  .ember-power-select-trigger {
    font-size: 0.9rem;
    min-height: 2rem;
  }
}