.table--form.table--striped > .table-body > tr:nth-child(2n+1),
.table--form.table--striped > .table-body > form:nth-child(2n+1) {
  background-color: color(var(--body-background-color) b(5%));
}

.table--form.table--hover > .table-body > tr:hover,
.table--form.table--hover > .table-body > form:hover {
  background-color: color(var(--body-background-color) b(7.5%));
}

.table--form > .table-body {
  display: flex;
  flex-direction: column;

  > tr,
  > form {
    display: flex;
    padding: 0.5rem;
    flex-wrap: wrap;
    border-top: 1px solid var(--color-border);

    > td,
    > .form-group {
      flex: 1 0 100%;
      padding: 0;
      border: 0;
    }
  }
}

.table--form > .table-foot,
.table--form > .table-head {
  display: none;
}

@mixin inline {
  display: table;

  > .table-head {
    display: table-header-group;

    > tr > th {
      padding: 0.5rem;
      vertical-align: top;
      font-weight: 500;
      text-align: left;
      vertical-align: bottom;
      border-bottom: 2px solid var(--color-border);
    }
  }

  > .table-foot {
    display: table-footer-group;

    > tr > td {
      padding: 0.5rem;
      vertical-align: top;
      border-top: 1px solid var(--color-border);
    }
  }

  > .table-body {
    display: table-row-group;

    > tr,
    > form {
      display: table-row;
      padding: 0;
      border: none;

      > td,
      > .form-group {
        display: table-cell;
        vertical-align: middle;
        padding: 0.5rem;
        margin: 0;
        border-top: 1px solid var(--color-border);

        input[type=text].form-control {
          height: 2rem;
        }
      }
    }
  }
}

.table--form-inline {
  @include inline;
}

@media (--xl-viewport) {
  .table--form-inline-xl {
    @include inline;
  }
}

@media (--lg-viewport) {
  .table--form-inline-lg {
    @include inline;
  }
}

@media (--md-viewport) {
  .table--form-inline-md {
    @include inline;
  }
}

@media (--sm-viewport) {
  .table--form-inline-sm {
    @include inline;
  }
}

@media (--xs-viewport) {
  .table--form-inline-xs {
    @include inline;
  }
}