.header {
  display: flex;
  border-bottom: 1px solid rgb(220, 220, 220);
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
}

.header-item {
  flex: 50%;
  margin-right: 0.5rem;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
}

.task-form-container {
  margin-top: 20px;
}

.task-form-container-row {
  display: flex;
}

.task-form-container-column {
  flex: 50%;
}

.task-form-container-column:first-child {
  margin-right: 20px;
}

.task-table-container {
  height: 400px;
  margin-bottom: 20px;
}

.table--projects tr.selected {
  background-color: lighten($color-primary, 20%) !important;
}

.table--projects tr.selected + tr td,
.table--projects tr.selected td {
  border-color: lighten($color-primary, 20%) !important;
}

// Table
.table--projects {
  margin-bottom: 0;
  table-layout: fixed;
}

.table--projects > tbody > tr.pointer {
  color: rgb(0, 0, 0);
}

.table--projects > tbody > tr.pointer > td:last-child {
  box-shadow: inset -2px 0 0 $color-primary;
}

.table--projects > tbody > tr:first-of-type td {
  border-top: none;
}

.table--projects th {
  position: sticky;
  background-color: white;
  top: 0;
}

.table--projects > colgroup > col {
  &.title {
    width: 10%;
  }

  &.reference {
    width: 20%;
  }

  &.duration {
    width: 8%;
  }

  &.archived {
    width: 5%;
  }
}

.validation-error-icon {
  margin: auto 0.5rem;
  color: $color-warning;
}

.archived-background-color {
  background-color: $color-secondary;
}
