.form-list--reports {
  white-space: nowrap;

  .form-list-body > .form-list-row > .form-list-cell {
    &.cell-duration,
    &.cell-remaining-effort,
    &.cell-review-billable-icons,
    &.cell-review,
    &.cell-buttons,
    &.cell-not-billable {
      flex-basis: 25%;
      flex-grow: 0;
      margin: 0;
    }

    &.cell-review,
    &.cell-review-billable-icons,
    &.cell-remaining-effort {
      padding-left: 1rem;
    }

    &.cell-review-billable-icons {
      display: flex;

      > .sy-toggle {
        flex: 0 0 30px;
      }
    }

    &.cell-buttons {
      text-align: right;
      flex-grow: 1;

      .btn {
        display: inline-flex;
      }
    }

    &.cell-remaining-effort {
      padding-left: 1rem;
    }
  }
}

@media #{$lg-viewport} {
  .form-list--reports {
    @include form-list--inline;

    .form-list-body > .form-list-row > .form-list-cell {
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        width: 15%;
      }

      &:nth-child(4) {
        width: auto;
      }

      &.cell-review-billable-icons {
        padding-left: 0.5rem;
      }

      &.cell-duration {
        width: 75px;
      }

      &.cell-buttons {
        width: 110px;
      }

      &.cell-remaining-effort {
        width: 140px;
        padding-right: 50px;
      }
    }
  }
}
