.sy-datepicker-picker,
.sy-durationpicker-picker,
.sy-timepicker-picker {
  margin-top: -1px;
  background-color: rgb(255,255,255);
  border: 1px solid color(var(--color-primary) tint(20%));
  box-shadow: 0 0 8px color(var(--color-primary) a(60%));
}

.sy-datepicker-picker {
  padding: 5px;
}

.sy-durationpicker-picker,
.sy-timepicker-picker {
  display: flex;
  padding: 10px 5px;

  .hour,
  .minute {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    text-align: center;

    button {
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }
}
