.user-navigation {
  margin: 0 ($page-padding-h * -1);
  border-bottom: 1px solid $color-border;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.user-navigation > ul {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: center;
}

.user-navigation > ul > li {
  flex: 1 0 auto;
  display: flex;
}

.user-navigation > ul > li > a {
  flex-grow: 1;
  text-align: center;
  padding: 0.9rem 2rem;
  color: rgb(180, 180, 180);
  font-size: 1.1rem;
}

.user-navigation > ul > li > a.active {
  color: $color-primary;
  box-shadow: inset 0 -2px 0 $color-primary;
}

@media #{$md-viewport} {
  .user-navigation > ul > li {
    flex-grow: 0;
  }
}

@media #{$lg-viewport} {
  .user-navigation {
    margin: 0 ($page-padding-h * 1.25 * -1);
  }
}

@media #{$xl-viewport} {
  .user-navigation {
    margin: 0 ($page-padding-h * 1.5 * -1);
  }
}
