$user-header-padding-v: 0.5rem;
$user-header-padding-h: $page-padding-h;
$user-header-margin-top-extra: 0px;

.user-header {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  position: relative;

  margin: calc(#{$page-padding-v} * -1 + #{$user-header-margin-top-extra})
    calc(#{$page-padding-h} * -1) 0;
  padding: $user-header-padding-v $user-header-padding-h;

  background-color: rgb(240, 240, 240);
  border-bottom: 1px solid $color-border;

  .nav-top--fixed + & {
    $user-header-margin-top-extra: 51px !global;
  }
}

.user-content {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-direction: column;
  padding-top: $page-padding-v;
  position: relative;

  .grid {
    position: relative;
  }

  .year-select {
    position: absolute;
    top: 0;
    right: 0;

    select {
      width: 6rem;
    }
  }

  h4 {
    color: $body-color;
    font-weight: 300;
    line-height: 3rem;
  }

  .card {
    opacity: 0;
    transform: translateY(50px);
    animation: card-slide-up 250ms ease-out forwards;

    .empty {
      margin: 2rem 0;
    }
  }

  @for $i from 0 to 10 {
    .grid-cell:nth-of-type(#{$i}) .card {
      animation-delay: calc(100ms * #{$i});
    }
  }
}

.user-general-info {
  width: 100%;

  tr > td {
    vertical-align: top;
    padding: 0.25rem 0;
  }

  tr > td:first-child {
    font-weight: 500;
  }

  tr > td:last-child {
    text-align: right;
  }
}

/* General info */
.user-header-info {
  text-align: center;

  h1 {
    display: inline-flex;
    color: $body-color;
    font-size: 3.5rem;
    line-height: 3.5rem;
    margin: 0;
    position: relative;
    flex-direction: column;
    margin-top: 1rem;
  }
}

/* Loading */

.user-header-loading {
  display: flex;
  min-height: 370px;
  justify-content: center;
  align-items: center;
}

/* Worktime balance */
.user-header-worktime-balance-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.user-header-worktime-balance-title {
  font-size: 2rem;
  flex: 1 1 100%;
  font-weight: 300;
  margin: 1.5rem 0;
  text-transform: uppercase;
  text-align: center;
  color: darken($color-border, 20%);
}

.user-header-worktime-balance {
  width: 350px;
  position: relative;
  order: 2;
}

.user-header-worktime-balance-last-valid-timesheet {
  order: 0;
}

.user-header-worktime-balance-today {
  order: 1;
}

.user-header-worktime-balance-last-valid-timesheet,
.user-header-worktime-balance-today {
  text-align: center;
  font-size: 2rem;
  flex: 0 0 50%;
  padding: 0 0 1rem;

  h2 {
    font-size: 1.1rem;
    font-weight: 300;
    margin: 0;
    text-transform: uppercase;
    color: darken($color-border, 20%);
  }
}

/* Absence balance */
.user-header-absence-balance-container {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.user-header-absence-balance {
  display: flex;
  flex: 0 1 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media #{$sm-viewport} {
  .user-header-absence-balance {
    flex-basis: 100px;
  }

  .user-header-worktime-balance {
    order: 1;
  }

  .user-header-worktime-balance-title {
    font-size: 1.1rem;
    margin: 0.5rem 0;
  }

  .user-header-worktime-balance-today {
    order: 2;
  }

  .user-header-worktime-balance-last-valid-timesheet,
  .user-header-worktime-balance-today {
    flex-basis: 120px;
    padding: 2.5rem 0 0;

    h2 {
      font-size: 1.1rem;
    }
  }
}

@keyframes card-slide-up {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media #{$md-viewport} {
  .user-header-info {
    h1 {
      font-size: 3rem;
      margin-top: 0;
    }
  }
}

@media #{$lg-viewport} {
  .user-header {
    margin: calc(
        #{$page-padding-v} * 1.25 * -1 + #{$user-header-margin-top-extra}
      )
      calc(#{$page-padding-h} * 1.25 * -1) 0;
    padding: calc(#{$user-header-padding-v} * 1.25)
      calc(#{$user-header-padding-h} * 1.25);
  }

  .user-content {
    padding-top: $page-padding-v * 1.25;

    .year-select select {
      width: 5rem;
    }

    h4 {
      line-height: 2rem;
    }
  }
}

@media #{$xl-viewport} {
  .user-header {
    margin: calc(
        #{$page-padding-v} * 1.5 * -1 + #{$user-header-margin-top-extra}
      )
      calc(#{$page-padding-h} * 1.5 * -1) 0;
    padding: calc(#{$user-header-padding-v} * 1.5)
      calc(#{$user-header-padding-h} * 1.5);
  }

  .user-content {
    padding-top: $page-padding-v * 1.5;
  }

  .user-header-absence-balance {
    flex-basis: 120px;
  }

  .user-header-worktime-balance-last-valid-timesheet,
  .user-header-worktime-balance-today {
    flex-basis: 200px;
  }
}
