<b>***EN***</b><br>
<b>Charging {{hours_added}} hours</b>

<ul>
  <li>Customer: {{customer.name}}</li>
  <li>Project: {{project.name}}</li>
  <li>Project total with charging: {{hours_total}} hours</li>
</ul>

<div style="font-size: 12px;">
  __________________________________<br>
  <a href="https://my.adfinis-sygroup.ch/timed-admin/confirm-subscriptions">Show in customer center</a><br>
  <a href="https://my.adfinis-sygroup.ch/timed-admin/{{project.id}}">Show customer</a><br>
  <br>

  <b>Customer Center</b><br>
  Credits / Reports
</div>

<div style="font-size: 12px;">
  __________________________________________________________________________</div><br>

<b>***DE***</b><br>

<b>Aufladung von {{hours_added}} Stunden</b>

<ul>
  <li>Kunde: {{customer.name}}</li>
  <li>Projekt: {{project.name}}</li>
  <li>Projekt Total mit Aufladung: {{hours_total}} Stunden</li>
</ul>

<div style="font-size: 12px;">
  __________________________________<br>
  <a href="https://my.adfinis-sygroup.ch/timed-admin/confirm-subscriptions">Im Customer Center anzeigen</a><br>
  <a href="https://my.adfinis-sygroup.ch/timed-admin/{{project.id}}">Kunde anzeigen</a><br>
  <br>

  <b>Customer Center</b><br>
  Credits / Reports
</div>
