& {
  --clock-size: 50px;
  --clock-color: rgb(87, 87, 87);
  --clock-color-secondary: rgb(217, 83, 79);

  width: var(--clock-size);
  height: var(--clock-size);
}

.circle {
  fill: transparent;
  stroke: var(--clock-color);
}

.hour {
  stroke: var(--clock-color);
}

.minute {
  stroke: var(--clock-color);
}

.second {
  stroke: var(--clock-color-secondary);
}
