[run]
source=.

[report]
fail_under=100

exclude_lines =
    pragma: no cover
    pragma: todo cover
    def __str__
    def __unicode__
    def __repr__

omit=
    */migrations/*
    */apps.py
    */admin.py
    manage.py
    timed/settings_*.py
    timed/wsgi.py
    timed/forms.py
    setup.py

show_missing = True
