coverage
factory-boy
flake8
flake8-blind-except
flake8-debugger
flake8-deprecated
flake8-docstrings
flake8-isort
flake8-quotes
flake8-string-format
ipdb
isort
pytest
pytest-cov
pytest-mock==1.6.2
# once newer version than 3.1.2 has been released
# pytest-django can be imported through pypi again
git+https://github.com/pytest-dev/pytest-django@21492af
pytest-freezegun==0.2.0
