coverage==4.5.1
factory-boy==2.11.1
flake8==3.5.0
flake8-blind-except==0.1.1
flake8-debugger==3.1.0
flake8-deprecated==1.3
flake8-docstrings==1.3.0
flake8-isort==2.5
flake8-quotes==1.0.0
flake8-string-format==0.2.3
ipdb==0.11
isort==4.3.4
mockldap==0.3.0
pytest==3.6.3
pytest-cov==2.5.1
pytest-env==0.6.2
pytest-mock==1.10.0
pytest-django==3.3.3
pytest-freezegun==0.2.0
