python-dateutil==2.8.0
django==1.11.20 # pyup: >=1.11,<1.12
django-auth-ldap==1.7.0
django-filter==2.1.0
django-multiselectfield==0.1.8
djangorestframework==3.9.2
djangorestframework-jwt==1.11.0
djangorestframework-jsonapi==2.7.0
psycopg2-binary==2.8
pytz==2018.9
pyexcel-webio==0.1.4
pyexcel-io==0.5.17
django-excel==0.0.10
pyexcel-ods3==0.5.3
pyexcel-xlsx==0.5.7
pyexcel-ezodf==0.3.4
django-environ==0.4.5
django-money==0.14.4
python-redmine==2.2.1
uwsgi==2.0.18
