python-dateutil==2.8.1
django==2.2.15
# might remove this once we find out how the jsonapi extras_require work
django-filter==2.4.0
django-multiselectfield==0.1.12
djangorestframework==3.11.1
djangorestframework-jsonapi[django-filter]==3.1.0
mozilla-django-oidc==1.2.4
psycopg2==2.8.6
pytz==2020.4
pyexcel-webio==0.1.4
pyexcel-io==0.6.4
django-excel==0.0.10
pyexcel-ods3==0.6.0
pyexcel-xlsx==0.6.0
pyexcel-ezodf==0.3.4
django-environ==0.4.5
django-money==1.2.1
python-redmine==2.3.0
uwsgi==2.0.19.1
