<h1>Users</h1>

<table data-test-user-table class="table table--striped table--hover">
  <thead>
    <tr>
      <th>Username</th>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |user|}}
      {{#link-to 'users.detail' user.id tagName='tr' class='pointer'}}
        <td>{{user.username}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
      {{/link-to}}
    {{/each}}
  </tbody>
</table>
