& {
  display: flex;
  justify-content: center;
}

.record-button-container {
  position: relative;
  background: rgb(80, 80, 80);
  border-radius: 1.5rem;
  height: 3rem;
  width:  3rem;
  transition: width 500ms ease;
  font-family: var(--font-family-mono);
  font-size: 14px;
}

.record-button {
  position: absolute;
  top: 0.4rem;
  left: 0.4rem;
  width:  2.2rem;
  height: 2.2rem;
  padding: 0;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background: radial-gradient(
    circle at center,
    rgb(240, 240, 240) 50%,
    rgb(180, 180, 180) 80%
  );
}

.record-button::after {
  position: absolute;
  left: 50%;
  top:  50%;
  font-family: FontAwesome;
  font-size: 16px;
  color: var(--color-danger);
  z-index: 1;
}

.record-button--start::after {
  content: '\f04b';
  transform: translate(-35%, -50%);
}

.record-button--stop::after {
  content: '\f04d';
  transform: translate(-50%, -50%);
}

.record-button-timer {
  position: absolute;
  right: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(255, 255, 255);
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms ease;
  text-align: right;
}

&.recording .record-button-container--start-stop {
  width: 9.5rem;
}

&.recording .record-button-timer {
  opacity: 1;
  pointer-events: all;
  transition: opacity 200ms ease 300ms;
}

@media (--lg-viewport) {
  & {
    width: 7rem;
    justify-content: flex-start;
  }

  .record-button-container {
    height: 2rem;
    width: 2rem;
  }

  .record-button {
    height: 1.6rem;
    width: 1.6rem;
    top: 0.2rem;
    left: 0.2rem;
  }

  &.recording .record-button-container--start-stop {
    width: 7rem;
  }
}
