{{yield}}
<tr>
  <td colspan="42">
    {{#if (gt pages 1)}}
      {{pagination-pager current=page count=pages class='pagination-nav'}}
    {{/if}}
    {{pagination-limit page=page page_size=page_size}}
  </td>
</tr>
{{yield to='inverse'}}
