.date-navigation {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding: 1rem 0;
}

.btn-group {
  margin-right: 10px;
}

.date-navigation-container {
  flex-grow: 1;
  display: flex;
}

@media #{$sm-viewport} {
  .date-navigation {
    justify-content: flex-end;
    padding: 0;
  }
}
