nav {
  .nav-top-header-title {
    display: none;
    font-weight: 500;
  }

  .timed-clock {
    padding: 0.3rem 0;
    margin-right: 0.3rem;
  }

  .nav-top-toggle {
    display: block;
  }

  @media #{$nav-top-mobile-width} {
    .nav-top-header-title {
      display: block;
    }

    .nav-top-header-title-version {
      color: rgb(150, 150, 150);
      font-size: 0.5rem;
      font-family: $font-family-mono;
    }

    .nav-top-list-item a.active {
      background-color: $color-primary;
      color: #fff;
    }

    .nav-top-list-item a:hover {
      background-color: lighten($color-primary, 20%);
      color: #fff;
    }

    .nav-top-list-item a {
      padding: 0.6rem 0.8rem;
      border-radius: 0;
    }

    .nav-top-toggle {
      display: none;
    }
  }
}
