.paginated-table-foot {
  tr:last-child td {
    > .pagination-nav,
    > .pagination-limit {
      display: inline-flex;
    }

    > .pagination-limit {
      float: right;
      margin-top: 5px;

      span {
        margin-left: 5px;

        &::after {
          margin-left: -2px;
        }
      }
    }
  }
}
