$progress-tooltip-arrow-size: 0.5rem;
$progress-tooltip-color: rgb(87, 87, 87);

.progress-tooltip {
  z-index: 1000;
  background: $progress-tooltip-color;
  box-shadow: 0 1px 5px rgba(23, 23, 23, 0.5);
  max-width: initial;
  color: rgb(255, 255, 255);
  font-size: 0.9rem;
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
  animation: 200ms ease slide-in;

  .time-info {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.25rem;
    margin: 0.25rem;

    :nth-child(1) {
      grid-area: 1 / 1 / 2 / 2;
    }
    :nth-child(2) {
      grid-area: 1 / 2 / 2 / 3;
    }
    :nth-child(3) {
      grid-area: 2 / 1 / 3 / 2;
    }
    :nth-child(4) {
      grid-area: 2 / 2 / 3 / 3;
    }
    :nth-child(5) {
      grid-area: 3 / 1 / 4 / 3;
    }
    :nth-child(6) {
      grid-area: 4 / 1 / 5 / 2;
    }
    :nth-child(7) {
      grid-area: 4 / 2 / 5 / 3;
    }

    .progress-badge {
      display: flex;
      justify-content: end;
    }
  }

  &::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(100%, -50%);
    border-top: $progress-tooltip-arrow-size solid transparent;
    border-bottom: $progress-tooltip-arrow-size solid transparent;
    border-left: $progress-tooltip-arrow-size solid $progress-tooltip-color;
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    left: -15px;
  }
  to {
    opacity: 1;
    left: 0;
  }
}
