.sy-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: auto;

  &.active {
    color: $color-primary;
  }

  &.inactive {
    color: $color-secondary;
  }

  &.form-control {
    background-color: unset;
    border: unset;
    box-shadow: unset;
  }
}

.form-list-cell > .margin-small-right {
  margin-right: 0.5rem;
}
