& {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
}

&.expected {
  hr {
    background-color: var(--color-primary);
  }
  span {
    color: var(--color-primary);
  }
}

hr {
  margin: 0;
  border: none;
  height: 1px;
  width: 100%;
  background-color: color(var(--color-primary) a(30%));
  position: absolute;
  left: 0;
  right: 0;
}

span {
  width: 30px;
  font-family: var(--font-family-mono);
  font-size: 12px;
  text-align: right;
  color: color(var(--color-primary) a(30%));
  transform: translateY(50%);
  position: absolute;
  left: -35px;
  right: 0;
}
