<h1>About Timed</h1>
<p>
  Timed is a timetracking software initially written by
  <a href="https://github.com/topaxi">Damian Senn</a>
  which was forked and further developed by <a href="https://github.com/adfinis-sygroup">Adfinis SyGroup</a>.
</p>

<p>
  <iframe src="https://ghbtns.com/github-btn.html?user=adfinis-sygroup&repo=timed&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
</p>
