{{yield (hash
  header=(component 'paginated-table/header')
  body=(component 'paginated-table/body')
)}}
<tfoot>
  <tr>
    <td colspan="99">
      {{pagination-pager current=page count=model.meta.pagination.pages}}
    </td>
  </tr>
</tfoot>
