<table class="table table--striped table--hover">
  {{yield (hash
  head = (component 'paginated-table/head')
  body = (component 'paginated-table/body')
  foot = (component 'paginated-table/foot')
  )}}
  {{yield to='inverse'}}
</table>