{{yield}}
{{#if (gt pages 1)}}
  <tfoot>
    <tr>
      <td colspan="42">
        {{pagination-pager current=page count=pages limit=page_size}}
      </td>
    </tr>
  </tfoot>
{{/if}}
{{yield to='inverse'}}
