<div class="loading-icon">
  <span class="loading-dot"></span>
  <span class="loading-dot"></span>
  <span class="loading-dot"></span>
  <span class="loading-dot"></span>
  <span class="loading-dot"></span>
  <span class="loading-dot"></span>
  <span class="loading-dot"></span>
  <span class="loading-dot"></span>
  <span class="loading-dot"></span>
</div>