<div>
  {{fa-icon 'mobile'}}
  <h3>Sorry, this page doesn't work on mobile!</h3>
  <p>
    The data on this page is taking up too much space for your currently used
    device.
  </p>
  <p>
    Try opening this page on a larger device, or go back to the
    <LinkTo @route="index">home page</LinkTo>!
  </p>
</div>