Per page:
{{#each this.limits as |l i|}}
  <span>
    {{#if (eq this.page_size l)}}
      {{l}}
    {{else}}
      <a href="#" {{action (queue (action (mut this.page) 1) (action (mut this.page_size) l))}}>{{l}}</a>
    {{/if}}
  </span>
{{/each}}