{% load tracking_extras %}
Some of your reports have been rejected by a reviewer. Please get in contact
with them to clarify the reports. Most likely, you will just need to move
the reports to the correct project / task.

Reviewer: {{reviewer.first_name }} {{ reviewer.last_name }}
{% for changeset in user_changes %}

Date: {{ changeset.report.date|date:"SHORT_DATE_FORMAT" }}
Duration: {{ changeset.report.duration|duration }}
Task: {{ changeset.report.task }}
Comment: {{ changeset.report.comment }}
---{% endfor %}
