<SyModal @visible={{this.visible}} as |modal|>
  <modal.body>
    <div class="text-center welcome-modal-body">
      <h1>Welcome to Timed!</h1>
      <img class="logo" src="/assets/logo.svg" alt="timed" />
      <h4>Would you like to take a tour?</h4>
    </div>
  </modal.body>

  <modal.footer>
    <button
      type="button"
      class="btn btn-never"
      data-test-tour-never
      {{action this.on-never}}
    >
      Never
    </button>

    <button
      type="button"
      class="btn btn-default"
      data-test-tour-later
      {{action this.on-later}}
    >
      Later
    </button>

    <button
      type="submit"
      class="btn btn-primary"
      data-test-tour-start
      {{action this.on-start}}
    >
      Sure
    </button>
  </modal.footer>
</SyModal>
