{{#sy-modal visible=visible as |modal|}}
  {{#modal.body}}
    <div class="text-center">
      <h1>Welcome to Timed!</h1>
      <img style="max-width:50%" src="/assets/logo.svg">
      <h4>Would you like to take a tour?</h4>
    </div>
  {{/modal.body}}

  {{#modal.footer}}
    <button
      type="button"
      class="btn btn-never"
      data-test-tour-never
      {{action on-never}}>
      Never
    </button>

    <button
      type="button"
      class="btn btn-default"
      data-test-tour-later
      {{action on-later}}>
      Later
    </button>

    <button
      type="submit"
      class="btn btn-primary"
      data-test-tour-start
      {{action on-start}}>
      Sure
    </button>
  {{/modal.footer}}
{{/sy-modal}}
