<table class="table table--striped table--reports">
  <tbody>
    {{#each reports as |report|}}
      {{report-row
        report
        data-test-report-row
        data-test-report-row-id = report.id
        on-save                 = (route-action 'saveReport')
        on-delete               = (route-action 'deleteReport')
      }}
    {{^}}
      <tr>
        <td colspan="8" class="text-center">
          <em>No entries yet</em>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
