.nav-top-header-title {
  display: none;
  font-weight: 500;
}

.timed-clock {
  padding: .3rem 0;
  margin-right: .3rem;
}

@media (--nav-top-mobile-width) {
  .nav-top-header-title {
    display: block;
  }

  .nav-top-header-title-version {
    color: rgb(150,150,150);
    font-size: .5rem;
    font-family: var(--font-family-mono);
  }

  .nav-top-list-item a.active {
    background-color: var(--color-primary);
    color: #fff;
  }

  .nav-top-list-item a:hover {
    background-color: color(var(--color-primary) tint(20%));
    color: #fff;
  }

  .nav-top-list-item a {
    padding: .6rem .8rem;
    border-radius: 0;
  }
}
