<div class="form-group" data-test-tracking-customer>
  {{#power-select
    renderInPlace = true
    allowClear    = true
    disabled      = disabled
    options       = _customers
    selected      = customer
    searchField   = 'name'
    onchange      = (action (mut customer))
    placeholder   = 'Select customer...'
    as |customer|}}
    {{customer.name}}
  {{/power-select}}
</div>
<div class="form-group" data-test-tracking-project>
  {{#power-select
    renderInPlace = true
    allowClear    = true
    disabled      = (or (not _projects.length) disabled)
    options       = _projects
    selected      = project
    searchField   = 'name'
    onchange      = (action (mut project))
    placeholder   = 'Select project...'
    as |project|}}
    {{project.name}}
  {{/power-select}}
</div>
<div class="form-group" data-test-tracking-task>
  {{#power-select
    renderInPlace = true
    allowClear    = true
    disabled      = (or (not _tasks.length) disabled)
    options       = _tasks
    selected      = task
    searchField   = 'name'
    onchange      = (action 'change')
    placeholder   = 'Select task...'
    as |task|}}
    {{task.name}}
  {{/power-select}}
  {{yield}}
</div>
