<div class="login">
  <h1>Timed Login</h1>
  <hr>
  <TimedClock />
  <br>
  <button
  class="btn btn-primary sso-login"
  type="button"
  {{on "click" this.ssoLogin}}
  >Login With SSO</button>
</div>