<div class="filter-sidebar-group-label" {{action (toggle 'expanded' this) on='click'}}>
  {{label}}
  {{fa-icon 'angle-right'}}
</div>

<div class="filter-sidebar-group-body">
  <div class="filter-sidebar-group-content">
    {{yield}}
  </div>
</div>