{{!template-lint-disable no-invalid-interactive}}
<div class="filter-sidebar-group-label" {{on "click" (toggle "expanded" this)}}>
  {{label}}
  <FaIcon @icon="angle-right" @transform="{{if this.expanded 'rotate-90'}}" />
</div>

<div class="filter-sidebar-group-body">
  <div class="filter-sidebar-group-content">
    {{yield}}
  </div>
</div>
