<a
  href="#"
  class="filter-sidebar-group-label"
  {{on "click" (toggle "expanded" this)}}
>
  {{@label}}
  <FaIcon
    @icon="angle-right"
    @prefix="fas"
    @transform="{{if this.expanded 'rotate-90'}}"
  />
</a>

<div class="filter-sidebar-group-body">
  <div class="filter-sidebar-group-content">
    {{yield}}
  </div>
</div>
