<h1>Create new task template</h1>

<form {{action 'save' on='submit'}}>
  <div class="form-group">
    <label>Name</label>
    {{input type='text' class='form-control' value=model.name}}
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Save</button>
    {{#link-to 'task-templates.index' tagName='button' class='btn btn-default'}}Cancel{{/link-to}}
  </div>
</form>
