<h1>Edit project {{model.name}}</h1>

<ul class="nav nav-tabs">
  <li>
    {{#link-to 'projects.edit.index'}}
      General
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'projects.edit.tracker'}}
      Tracker
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'projects.edit.tasks'}}
      Tasks
    {{/link-to}}
  </li>
</ul>
<div class="tab-content">{{outlet}}</div>
