{{#each this.choices as |choice index|}}
  <button
    class="btn date-button"
    data-test-preset-date={{index}}
    type="button"
    {{on "click" (fn this.selectDate choice)}}
  >{{choice}}</button>
{{/each}}
