{{#each choices as |choice index|}}
  <button
    type="button"
    class="btn date-button"
    {{action "selectDate" choice}}
    data-test-preset-date={{index}}
  >
    {{choice}}
  </button>
{{/each}}
