& {
  --size: 120px;
  --color: lightgrey;

  display: inline-flex;
  flex-wrap: wrap;
  height: var(--size);
  width: var(--size);

  animation: loading-pop-up 1s ease forwards;

  > div {
    height: calc(1 / 3 * var(--size));
    width: calc(1 / 3 * var(--size));
    position: relative;

    &:nth-child(1)::before,
    &:nth-child(3)::before,
    &:nth-child(7)::before,
    &:nth-child(9)::before {
      animation-delay: 500ms;
    }

    &:nth-child(2)::before,
    &:nth-child(4)::before,
    &:nth-child(6)::before,
    &:nth-child(8)::before {
      animation-delay: 1000ms;
    }

    &::before {
      content: '';
      display: block;
      height: 80%;
      width: 80%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background-color: var(--color);
      will-change: opacity;

      animation: loading-flash 2s linear infinite;
    }
  }
}

@keyframes loading-pop-up {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loading-flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}