.nav-side-header {
  height: auto;

  a {
    display: none;
    align-items: center;
    padding: 1.5rem 1rem 1rem;

    .nav-side-header-title {
      margin: 0;
      padding: 0 0 0 1rem;
      display: flex;
    }
  }
}

.app-version {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  padding: 10px;
  font-family: var(--font-family-mono);
  font-size: 10px;
}

@media (--nav-side-mobile-width-unhide) {
  .app-version {
    display: block;
  }

  .nav-side-header a {
    display: flex;
  }
}
