<h1>Task Templates</h1>

<div class="toolbar">
  <div class="toolbar-content">
    {{#link-to 'task-templates.new' tagName='button' class='btn btn-success'}}New Task Template{{/link-to}}
  </div>
</div>

{{#paginated-table model=model page=page as |header body|}}
  {{#paginated-table.header}}
    <th>Name</th>
  {{/paginated-table.header}}
  {{#paginated-table.body loading=loading model=model as |row|}}
    {{#link-to 'task-templates.edit' row.id tagName='tr' class='pointer'}}
      <td>{{row.name}}</td>
    {{/link-to}}
  {{/paginated-table.body}}
{{/paginated-table}}
