& {
  background: white;
  border-bottom: 1px solid rgb(220, 220, 220);
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
}

@media (--sm-viewport) {
  .form-control,
  .ember-power-select-trigger {
    min-width: 15rem;
  }
}
