{{#if (cannot "access page")}}
  <div class="text-center" data-test-access-forbidden>
    <h1>Access forbidden</h1>
    <h4>You do not have the permission to access this page</h4>
  </div>
{{else}}
 {{yield}}
{{/if}}