name: Test

on:
  push:
    branches:
      - beta
      - main
      - renovate/**
  pull_request:
    branches:
      - beta
      - main

env:
  NODE_VERSION: 18
  frontend-dir: ./frontend
  backend-dir: ./backend

jobs:
  lint-frontend:
    name: Lint
    runs-on: [ubuntu-latest]
    timeout-minutes: 5

    strategy:
      matrix:
        target: [js, hbs]

    steps:
      - uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v2.4.0
        with:
          version: ^7.17.1

      - uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --no-frozen-lockfile
        working-directory: ${{ env.frontend-dir }}

      - name: Lint ${{ matrix.target }}
        run: pnpm lint:${{ matrix.target }}
        working-directory: ${{ env.frontend-dir }}

  test-frontend:
    name: Tests
    needs: [lint-frontend]
    runs-on: [ubuntu-latest]
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v2.4.0
        with:
          version: ^7.17.1

      - uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --no-frozen-lockfile
        working-directory: ${{ env.frontend-dir }}

      - name: Run tests
        run: pnpm test
        working-directory: ${{ env.frontend-dir }}
        env:
          COVERAGE: true

      - name: upload coverage report to codecov
        uses: codecov/codecov-action@v3
        with:
          file: ./coverage/lcov.info

  test-backend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v3
        with:
          path: .venv
          key: poetry-${{ hashFiles('poetry.lock')}}
          restore-keys: |
            peotry-
      - name: Build the project
        run: |
          echo "ENV=dev" > .env
          docker-compose up -d --build backend
      - name: Lint the code
        run: |
          docker-compose exec -T backend black --check .
          docker-compose exec -T backend flake8
          docker-compose exec -T backend python manage.py makemigrations --check --dry-run --no-input
      - name: Run pytest
        run: docker-compose exec -T backend pytest --no-cov-on-fail --cov --create-db -vv
